---
const  { color, title, subtitle } = Astro.props
const textColor = `text-${color}`
---

<section class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative" data-header-color={color}> 
    <div class="z-30 relative h-full flex flex-col">
        <header class="flex flex-col">
            <h2 class={`${textColor} pt-40 text-[40px] font-medium`}>{title}</h2>
            <p class={`${textColor}  text-sm`}>{subtitle}</p>
        </header>
        
        <footer class="flex flex-col flex-grow justify-end pb-20"><!--flex-grow dice ocupa todo el espacio que puedas-->
            
                <slot name="footer"/>
           
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10"><!--se lo pone top-0 y bottom-0 para estirar el contenido tanto por arriba como por abajo-->
        <slot name="background"/> <!--son como los childrens -->
        <!-- <video class="object-center object-cover h-full w-full" autoplay muted loop src="/video.webm"></video> -->
    </div>
</section>